
body>div{
    width: 100vw;
    height: 100vh;
    background: aqua;
}

div>div {
    width: 90vw;
    height: 90vh;
    background-color: yellow;
}

div>div>div {
    width: 80vw;
    height: 80vh;
    background-color: blue;
}

div>div>div>div {
    width: 70vw;
    height: 70vh;
    background: black;
}

div>div>div>div>div {
    width: 60vw;
    height: 60vh;
    background-color: brown;
}

div>div>div>div>div>div {
    width: 50vw;
    height: 50vh;
    background-color: white;
}
div>div>div>div>div>div>div {
    width: 40vw;
    height: 40vh;
    background-color: purple;
}

div>div>div>div>div>div>div>div {
    width: 30vw;
    height: 30vh;
    background-color: olivedrab;
}

div>div>div>div>div>div>div>div>div {
    width: 20vw;
    height: 20vh;
    background-color: green;
}

div>div>div>div>div>div>div>div>div>div {
    width: 10vw;
    height: 10vh;
    background-color: orangered;
}

.blue{
    background: blue;
}

.green{
    background: green;
}

.circle{
    border-radius: 50%;
}

.most-outer .inner{
    border: 9px solid black;
}

.most-inner:hover{
    background-color:blanchedalmond
}

.most-inner::before{
    content:'a'
}

.most-inner::after{
    content:'z'
}
